.waves 
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#296cb9, #49abec, rgb(149, 195, 255));
}

.waves h1
{
    width: 100%;
    position: absolute;
    top: 10%;
    color: aliceblue;
    font-size: 8em;
    text-align: center;
    line-height: 18vw;
}

.wave
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(../Images/Waves/Wave.png);
    background-size: 1000px 100px;
}

#wave1
{
    opacity: 1;
    bottom: 0;
    z-index: 10;
    animation: wave 4s linear infinite;
}

#wave2
{
    opacity: 0.5;
    bottom: 10px;
    z-index: 9;
    animation: wave2 4s linear infinite;
}

#wave3
{
    opacity: 0.2;
    bottom: 15px;
    z-index: 8;
    animation: wave 2s linear infinite;
}

#wave4
{
    opacity: 0.7;
    bottom: 20px;
    z-index: 9;
    animation: wave2 2s linear infinite;
}

.island
{
    position: absolute;
    height: 75%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    pointer-events: none;
    z-index: 5;
    object-fit: cover;
}

@keyframes wave 
{
    0% { background-position-x: 1000px; }
    100% { background-position-x: 0px; } 
}

@keyframes wave2
{
    0% { background-position-x: 0px; }
    100% { background-position-x: 1000px; } 
}

@media (orientation: portrait)
{
    .wave
    {
        height: 300px;
        background-size: 2000px 300px;
    }

    @keyframes wave 
    {
        0% { background-position-x: 2000px; }
        100% { background-position-x: 0px; } 
    }

    @keyframes wave2
    {
        0% { background-position-x: 0px; }
        100% { background-position-x: 2000px; } 
    }
}